@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
  background: url("https://bootdey.com/img/Content/bg1.jpg") no-repeat center
    center fixed;
  background-size: cover;
}
.navbar {
  width: 100%;
  padding-left: 30px;
  background: #3a3eb4;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3a3eb4),
    color-stop(50%, #f08181),
    to(#45b1fc)
  );
  background: linear-gradient(90deg, #3a3eb4 0%, #f08181 50%, #45b1fc 100%);
}

.navbar li {
  color: white;
  list-style: none;
  display: block;
}

.navbar li a {
  font-size: 14px;
  float: left;
  padding-left: 15px;
  text-decoration: none;
  border-radius: 70px;
}

.navbar li a:hover {
  height: 100%;
  width: 100%;
  background-color: #00a8db;
  border-radius: 70px;
  -webkit-animation: buttonAnimations 1s ease-in-out 0s infinite normal forwards;
  animation: buttonAnimations 1s ease-in-out 0s infinite normal forwards;
}

@-webkit-keyframes buttonAnimations {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes buttonAnimations {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.dropdown-menu {
  background: #3a3eb4;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, #b34ad3),
    to(#45b1fc)
  );
  background: linear-gradient(90deg, #b34ad3 50%, #45b1fc 100%);
  border-radius: 10px;
}

.navbar-brand {
  height: 80px;
  width: 70px;
}

#searchbar {
  color: black;
  background: white;
  border-radius: 30px;
  border-color: transparent;
}

#searchbar:hover {
  color: white;
  background-color: #00a8db;
}
.carousel {
  height: 600px;
  width: 100%;
}

.carousel img {
  height: 600px;
  width: 100%;
}

.carousel-inner {
  height: 600px;
}

.social-container {
  width: 400px;
  margin: 10vh auto;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons {
  margin-top: 4rem;
}
.social-icons li {
  display: inline-block;
  padding-left: 5px;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  padding-left: 5px;
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}
.social-icons p {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  padding-left: 5px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #00b5f5, #002a8f);
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00b5f5;
  background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 100px;
}

/*# sourceMappingURL=styles.css.map */
